@inherits LayoutComponentBase

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

<div>
    <MudToggleIconButton @bind-Toggled="@_isDarkMode"
                         Icon="@Icons.Material.Filled.DarkMode" Color="@Color.Default"
                         ToggledIcon="@Icons.Material.Filled.WbSunny" ToggledColor="@Color.Default"
                         Class="dark-mode-btn">
    </MudToggleIconButton>
</div>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code
{
    private readonly MudTheme _theme = new();
    private bool _isDarkMode;
}
